.joule-unit-settings-container {
	display: flex;
	align-items: center;
	row-gap: var(--size-4-3);
	border-radius: var(--setting-items-radius);
	background-color: var(--setting-items-background);
	padding: var(--size-4-4);
	margin-bottom: var(--size-4-2);
	border: var(--setting-items-border-width) solid
		var(--setting-items-border-color);
}

.joule-unit-settings-vertical {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: stretch;
}

.joule-settings-contracted {
	width: 60%;
}

.joule-search-header {
	display: flex;
	gap: 0.25rem;
}

.joule-search-shared {
	color: white;
	padding: 0 0.25rem;
	border: 1px solid #474444;
	background: #313030;
	border-radius: 2px;
	font-weight: bold;
}

.joule-search-lowlight {
	color: gray;
}

.joule-search-item {
	display: flex;
	gap: 0.25rem;
	font-size: smaller;
}
