.joule-unit-settings-container {
	display: flex;
	align-items: center;
	row-gap: var(--size-4-3);
	border-radius: var(--setting-items-radius);
	background-color: var(--setting-items-background);
	padding: var(--size-4-4);
	margin-bottom: var(--size-4-2);
	border: var(--setting-items-border-width) solid
		var(--setting-items-border-color);
}

.joule-unit-settings-vertical {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: stretch;
}

.joule-settings-contracted {
	width: 60%;
}
